# Project exclude paths
/PBL3-core-common/target/
/PBL3-core-dao/target/
/PBL3-core-dao-impl/target/
/PBL3-core-data/target/
/PBL3-core-dto/target/
/PBL3-core-persistence-data/target/
/PBL3-core-service/target/
/PBL3-core-service-impl/target/
/PBL3-core-utils/target/
/PBL3-core-web/target/
/PBL3-web/target/
/PBL3-web-logic/target/